@model List<Blog.Domain.Entities.Category>
<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    @foreach (var item in Model.Take(3))
                    {
                        <li>
                            <a href="/category/@item.Name">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    @foreach (var item in Model.Skip(3).Take(3))
                    {
                        <li>
                            <a href="/category/@item.Name">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
